<p>productedit works!</p>
<form #pdata="ngForm" (ngSubmit)="addData(pdata.value)" class="box">
    <label class="form-label">Enter the Product Name</label>
    <input type="text" name="pname" class="form-control" [ngModel]="proData.pname">

    <label class="form-label">Enter the Product price</label>
    <input type="text" name="pprice" class="form-control" [ngModel]="proData.pprice">

    <label class="form-label">Enter the Product company</label>
    <input type="text" name="pcompany" class="form-control" [ngModel]="proData.pcompany">

    <label class="form-label">Enter the Product quantity</label>
    <input type="text" name="pquntity" class="form-control" [ngModel]="proData.pquntity">

    <button type="submit" class="btn btn-primary btn-sm mt-2">Add Product</button>
</form>
